body {
    margin: 0;
    padding: 0;
    background-image: url('../assets/img/bg-tax.jpeg'); /*Replace with the path to your background image-->*/
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif; /* Optional: Set a default font-family */
}

.container {
text-align: center;
padding: 50px;
color: white; /* Optional: Set the text color */
}

.header-row {
    background-color: #faa7a6;
}

tbody tr:hover {
    background-color: #edededd7;
}

#form_modal .modal-header .btn-close{
    background-color: #6c757d;
    color: #fff;
}

a button.icon-secondary:hover i {
    color: white !important; /* Change the color to white when hovered */
}

#btn_view {
    color: #6c757d;
    background-color: #fff;
    border: 1px solid #6c757d;
    padding: 5px;
    padding-left: 6px;
    margin-right: 5px;
    border-radius: 5px;
    vertical-align: middle;
}

#btn_view:hover {
    color: #fff;
    background-color: #6c757d;
}

/* .custom-hr {
    height: 2px; 
    background-color: #000000; 
    margin: 20px 0; 
} */

/* input[type="text"] {
    text-transform: uppercase;
    text-align: center;
} */

.italic {
    color: #6c757d;
    font-style: italic;
    font-size: 12px;
}

.small-label {
    font-size: 15px;
    margin: 0;
    padding: 0;
}

/* Design button in dashboard page */
#button {
    margin: 10px 0px;
}

.rounded-pill {
    margin: 10px 0px;
}

/* Real property tax output */

#assessed_value_output, #real_property_tax_output {
    background-color: #70c5b1;
    color: white;
    width: 50%;
}

/* No underline input field */
.no-line {
    border-bottom: none;
    text-align: center;
}

/* Report Section- Nice Admin Template*/
/*--------------------------------------------------------------
# Dashboard
--------------------------------------------------------------*/
/* Filter dropdown */
.filter {
position: absolute;
right: 0px;
top: 15px;
}

.filter .icon {
color: #aab7cf;
padding-right: 20px;
padding-bottom: 5px;
transition: 0.3s;
font-size: 16px;
}

.filter .icon:hover,
.filter .icon:focus {
color: #4154f1;
}

.filter .dropdown-header {
padding: 8px 15px;
}

.filter .dropdown-header h6 {
text-transform: uppercase;
font-size: 14px;
font-weight: 600;
letter-spacing: 1px;
color: #aab7cf;
margin-bottom: 0;
padding: 0;
}

.filter .dropdown-item {
padding: 8px 15px;
}

/*--------------------------------------------------------------
# Override some default Bootstrap stylings
--------------------------------------------------------------*/
/* Dropdown menus */
.dropdown-menu {
    border-radius: 4px;
    padding: 10px 0;
    animation-name: dropdown-animate;
    animation-duration: 0.2s;
    animation-fill-mode: both;
    border: 0;
    box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
}

.dropdown-menu .dropdown-header,
.dropdown-menu .dropdown-footer {
text-align: center;
font-size: 15px;
padding: 10px 25px;
}

.dropdown-menu .dropdown-footer a {
color: #444444;
text-decoration: underline;
}

.dropdown-menu .dropdown-footer a:hover {
text-decoration: none;
}

.dropdown-menu .dropdown-divider {
color: #a5c5fe;
margin: 0;
}

.dropdown-menu .dropdown-item {
font-size: 14px;
padding: 10px 15px;
transition: 0.3s;
}

.dropdown-menu .dropdown-item i {
margin-right: 10px;
font-size: 18px;
line-height: 0;
}

.dropdown-menu .dropdown-item:hover {
background-color: #f6f9ff;
}

@media (min-width: 768px) {
.dropdown-menu-arrow::before {
    content: "";
    width: 13px;
    height: 13px;
    background: #fff;
    position: absolute;
    top: -7px;
    right: 20px;
    transform: rotate(45deg);
    border-top: 1px solid #eaedf1;
    border-left: 1px solid #eaedf1;
}
}

@keyframes dropdown-animate {
0% {
    opacity: 0;
}

100% {
    opacity: 1;
}

0% {
    opacity: 0;
}
}


/* Info Cards - Dashboard Cards*/

.info-card {
padding-bottom: 10px;
box-shadow: 0px 0px 5px #aab7cf;
}

.info-card h6 {
font-size: 28px;
color: #012970;
font-weight: 700;
margin: 0;
padding: 0;
}

.card-icon {
font-size: 32px;
line-height: 0;
width: 64px;
height: 64px;
flex-shrink: 0;
flex-grow: 0;
}

.land-classification-card .card-icon {
color: #607fab;
background: #f1f0f0;
}

.property-owner-card .card-icon {
color: #607fab;
background: #f1f0f0;
}

.bg-pink {
    background-color: #780302;
}

.bg-gray {
    background-color: #f2f2f2;
}

/* Land Classification Header Text COlor */
.info-card .text-darkRed {
    color: #700101;
}

/* radio input type square custom*/
.form-check-input[type="radio"] {
    border-radius: 0; /* Set border-radius to 0 for square shape */
  }

/* form {
    border: #444444 solid 1px;
    padding-left: 2em;
    padding-right: 1em;
} */

#declaration-form {
    margin: 0;
}

#memoranda {
    border: none;
    box-shadow: #a36a6a;
}
/*--------------------------------------------------------------
# F.A.Q Page
--------------------------------------------------------------*/
.faq .basic h6 {
    font-size: 18px;
    font-weight: 600;
    color: #dc3545;
}

.faq .basic p {
color: #a36a6a;
}

/*--------------------------------------------------------------
# Profie Page
--------------------------------------------------------------*/
.profile .profile-card img {
    max-width: 120px;
}

.profile .profile-card h2 {
    font-size: 24px;
    font-weight: 700;
    color: #4e2c2c;
    margin: 10px 0 0 0;
}

.profile .profile-card h3 {
font-size: 18px;
}

.profile .profile-card .social-links a {
    font-size: 20px;
    display: inline-block;
    color: rgba(112, 1, 1, 0.5);
    line-height: 0;
    margin-right: 10px;
    transition: 0.3s;
}

.profile .profile-card .social-links a:hover {
    color: #700101;
}

.profile .profile-overview .row {
    margin-bottom: 20px;
    font-size: 15px;
}

.profile .profile-overview .card-title {
    color: #700101;
}

.profile .profile-overview .label {
    font-weight: 600;
    color: rgba(112, 1, 1, 0.6);
}

.profile .profile-edit label {
    font-weight: 600;
    color: rgba(112, 1, 1, 0.6);
}

.profile .profile-edit img {
    max-width: 120px;
}

/* Card */
.card {
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0 30px rgba(112, 5, 1, 0.1);
}

.card-header,
.card-footer {
border-color: #ebeef4;
background-color: #fff;
color: #bd8989;
padding: 15px;
}

.card-title {
padding: 20px 0 15px 0;
font-size: 18px;
font-weight: 500;
color: #700101;
font-family: "Poppins", sans-serif;
}

.card-title span {
color: #bd8989;
font-size: 14px;
font-weight: 400;
}

.card-body {
padding: 0 20px 20px 20px;
}

.card-img-overlay {
background-color: rgba(255, 255, 255, 0.6);
}

/* Alerts */
.alert-heading {
font-weight: 500;
font-family: "Poppins", sans-serif;
font-size: 20px;
}

/* Close Button */
.btn-close {
background-size: 30%;
}

.btn-close:focus {
outline: 0;
box-shadow: none;
}

/* Bordered Tabs */
.nav-tabs-bordered {
border-bottom: 2px solid #ebeef4;
}

.nav-tabs-bordered .nav-link {
margin-bottom: -2px;
border: none;
color: #4e2c2c;
}

.nav-tabs-bordered .nav-link:hover,
.nav-tabs-bordered .nav-link:focus {
color: #f14141;
}

.nav-tabs-bordered .nav-link.active {
background-color: #fff;
color: #f14141;
border-bottom: 2px solid #f14141;
}
/* End of Report Section- Nice Admin Template*/
